body{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.left-items{
    margin: 1rem;
}

.left-items img{
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 8px;
}

.header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.info {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    height: 400px;
}

.info img{
    height: 200px;
    width: 400px;
}

.info p h2 {
    color: white;
}

.info h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info p{
    font-size: 18px;
    color: #e5e7eb;
}

.info a {
    max-width: 200px;
    max-height: 200px;
}

.info .container{
    flex-basis: 400px;
    text-align: left;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

.sword img{
    border: 8px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.content-info {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 16px;
    text-align: center;
    height: auto;
}

.content-info .sword{
    flex-basis: 200px;
    padding-bottom: 20px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
}

.quote p:nth-of-type(1) {
    font-size: 36px;
}
.quote p:nth-of-type(2) {
    text-align: right;
    font-size: 24px;
    position: relative;
    bottom: 20px;
}

.sign-up{
    display: flex;
    margin: 50px 200px;
    padding: 10px 80px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-up {
    text-align: left;
    color: white;
    position: relative;
    right: 144px;
}

.call-up h3{
    position: relative;
    top: 8px;
}

.call-up p{
    position: relative;
    top: -8px;
}

.button{
    position: relative;
    align-self: center;
    border: 1px solid white;
    border-radius: 8px;
    left: 80px;
}

.footer{
    background-color: #1F2937;
    color: white;
    padding: 40px ;
}